<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chenxulu.myapps">

    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 系统账户 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".application.VideoCacheApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".startmode.StartMode1Activity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".startmode.StartMode2Activity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".expand.ExpandListViewActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".notification.NotificationActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".network.RetrofitActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".network.NetworkActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".network.NetworkReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".video.VideoCacheActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".account.MyAccountActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <service
            android:name=".account.MyAccountService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service
            android:name=".account.MySyncService"
            android:enabled="true"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"/>
        </service>

        <provider
            android:name=".account.MyAccountProvider"
            android:authorities=".account"
            android:exported="false"
            android:syncable="true"/>

        <activity
            android:name=".layout.LayoutActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".network.OkHttpActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".touch.TouchActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".res.DrawableActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".adapter.MultiTypeListActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".startmode.StartMode3Activity"
            android:label="@string/title_activity_start_mode3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".recycle.drag.DragRecycleActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".recycle.MyRecycleActivity"
            android:configChanges="locale|orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".recycle.MyListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".expand.recycler.ExpandRecyclerViewActivity"
            android:label="@string/title_activity_expand_recycler_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>